<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>

<h3>Pokemon</h3>
<table class="table">
<% @pokemon.each do |p| %>
<tbody>
	<tr>
		<%= p.name %> <%= p.level %> <%= p.health %>
		<%= button_to "Damage!", damage_path(id: p.id), :class => "button medium", :method => :patch %>
	</tr>
</tbody>
<% end %>
<% if @trainer.id == current_trainer.id %>
	<%= link_to "Add Pokemon", new_pokemon_path() %>
<% end %>
